<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI-Repo</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <div class="wrapper">
        <h1 class="hero-title">FastAPI Repository Pattern (Blog)</h1>
        <p>I created this project for applying repository pattern in FastAPI. If you have any suggestions then please email to me - <span>sajdiur.inbox@gmail.com</span></p>
        <a class="btn" href="{{ request.url }}docs">Swagger Interface</a>
    </div>
    <div class="about">
    </div>
</body>
</html>